@import "tailwindcss";

@theme {
  --color-app: var(--bg-app);
  --color-app-surface: var(--bg-surface);
  --color-app-muted: var(--bg-muted);

  --color-primary: var(--text-primary);
  --color-primary-secondary: var(--text-secondary);
  --color-primary-muted: var(--text-muted);

  --color-border: var(--border-default);
  --color-border-muted: var(--border-muted);
}

@layer base {
  :root {
    --bg-app: #fefce8;
    /* light yellow */
    --bg-surface: #ffffff;
    --bg-muted: #fef9c3;
    --text-primary: #111827;
    --text-secondary: #374151;
    --text-muted: #6b7280;
    --border-default: #e5e7eb;
    --border-muted: #f3f4f6;
  }

  .dark {
    --bg-app: #111827;
    /* dark gray/navy */
    --bg-surface: #1f2937;
    --bg-muted: #374151;
    --text-primary: #f9fafb;
    --text-secondary: #f3f4f6;
    --text-muted: #9ca3af;
    --border-default: #374151;
    --border-muted: #4b5563;
  }

  body {
    @apply bg-app text-primary;
  }
}